@model RouteBreadcrumbModel
@{
    Layout = null;
}
@if (Model?.RouteParts is null)
{
    throw new InvalidOperationException("Invalid route");
}

<div class="header">
    <div class="breadcrumb-content">
        @foreach (var ((display, link, iconUrl), index) in Model.RouteParts.Select((x, i) => (x, i)))
        {
            @if (index != 0)
            {
                <span class="breadcrumb-separator">/</span>
            }
            <span class="breadcrumb-item text-nowrap">
                @if (iconUrl is not null)
                {
                    <img src="@iconUrl" style="width: 32px; height: 32px; display:  inline-block" alt="@display"/>
                }
                @if (link is not null)
                {
                    <a href="@link">@display</a>
                }
                else
                {
                    <span>@display</span>
                }
            </span>
        }
    </div>
</div>