@model RouteBreadcrumbModel
@{
    Layout = null;
}
@if (Model?.RouteParts is null)
{
    throw new InvalidOperationException("Invalid route");
}

<div class="m-0 p-0">
    <div class="mb-2 ml-2 pt-2 text-2xl font-light md:text-4xl">
        @foreach (var ((display, link, iconUrl), index) in Model.RouteParts.Select((x, i) => (x, i)))
        {
            @if (index != 0)
            {
                <span>/</span>
            }
            <span class="whitespace-nowrap">
                @if (iconUrl is not null)
                {
                    <img src="@iconUrl" class="browserIcon" alt="@display"/>
                }
                @if (link is not null)
                {
                    <a href="@link">@display</a>
                }
                else
                {
                    <span>@display</span>
                }
            </span>
        }
    </div>
</div>